<% layout("/layouts/boilerplate2") -%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Create a New Listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label form="title" class="form-label">Title</label>
                    <input 
                        name="listing[title]" 
                        placeholder="Add a catchy title" 
                        type="text" 
                        class="form-control" 
                        required
                    >
                    <div class="valid-feedback">
                        Awesome Title!
                    </div>
                </div>
                
                <div class="mb-3">
                    <label form="description" class="form-label"></label>
                    <textarea name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                       Please enter description under 50 words
                    </div>
                </div>

                <div class="mb-3">
                    <label form="image" class="form-label">Upload Listing Image</label>
                    <input name="listing[image]" type="file" class="form-control" required>
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label form="hostel" class="form-label">Hostel</label>
                        <input name="listing[hostel]" placeholder="Bhabha Hall" type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter the hostel name!
                        </div>
                    </div>

                    <div class="mb-3 col-md-6">
                        <label form="roomNumber" class="form-label">Room Number</label>
                        <input name="listing[roomNumber]" placeholder="G-10" type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter the room number!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                        <label form="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="1200" type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter a valid price!
                        </div>
                    </div>
                <button class="btn btn-dark mt-3 mb-3" style="background-color: #6351ce;">Add</button>
            </form>
        </div>
    </div>
</body>